body {
    background-color: #df1717;
}
.blue {
    background-color: #fbf6f6;
}
.white {
    background-color: rgba(67, 17, 247, 0.974);
    color:#d6f703
}
.da-tradurre {
    background-color: #fbf6f6;
    color:#056f05
}
