
body {
    background-color: rgba(250, 204, 21, 1);
}
.sezione-corso {
    background-color: rgb(56, 189, 248, 1);
}
img {
    width: 10%;
}
.titolo {
  text-align: center;
  color: rgb(113, 10, 148) 
}
.sottotitolo {
  text-align: center;
  color: rgb(221, 88, 5) 
}