
body {
    background-color: rgb(8, 7, 1);
}
.sezione-corso {
    background-color: rgb(10, 243, 211);
}
img {
    width: 10%;
}
.titolo {
  text-align: center;
  color: rgb(113, 10, 148) 
}
.sottotitolo {
  text-align: center;
  color: rgb(221, 88, 5) 
}
.list {
  color: rgb(10, 243, 211) 
}
.clic {
  color: rgb(240, 239, 238) 
}