body {
    background-color: rgb(217, 200, 12);
}
.blue {
    background-color: #df1717;
}
.white {
    background-color: #df1717;
    color:#d6f703
}
.word-to-translate {
    background-color: rgb(217, 200, 12);
}
.da-tradurre {
    color:#056f05
}