
<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    </head>
    <body>
        <h1>Benvenuto nel corso di lingue</h1>
        <h2>in questo sito sito è possibile imparare nuove lingue in diversi corsi</h2>
        <h3>LISTA CORSI</h3>
        <div class="sezione-corso">
            <h4>Inglese</h4>
            <img src="{{url_for('static', filename='img/images.jpg')}}" alt="Bandiera">
        </div>
    </body>
    <a href="{{url_for('inglese')}}">corso_inglese</a>

</html>