
<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    </head>
    <body>
        <div class="titolo">
            <h1>PABLINGO</h1>
        </div>
        <div class="sottotitolo">
            <h2>con PABLINGO è possibile imparare nuove lingue in diversi corsi</h2>     
        </div>
        <div class="list">
            <h3>LISTA CORSI</h3>
        </div>
        <div class="clic">
            <h4>clicca sulla bandiera del corso che vuoi intraprendere</h4>
        </div>
        <div class="sezione-corso">
            <a href="{{url_for('inglese')}}">
                <h4>Inglese</h4>
                <img src="{{url_for('static', filename='img/images.jpg')}}" alt="Bandiera">
            </a>
        </div>
        <div class="sezione-corso">
            <a href="{{url_for('spagnolo')}}">
                <h4>Spagnolo</h4>
                <img src="{{url_for('static', filename='img/spagna.jpg')}}" alt="Bandiera">
            </a>
        </div>
        <div class="sezione-corso">
            <a href="{{url_for('francese')}}">
                <h4>Francese</h4>
                <img src="{{url_for('static', filename='img/francia.jpg')}}" alt="Bandiera">
            </a>
        </div>
        <div class="sezione-corso">
            <a href="{{url_for('tedesco')}}">
                <h4>Tedesco</h4>
                <img src="{{url_for('static', filename='img/germania.jpg')}}" alt="Bandiera">
            </a>
        </div>
    </body>

</html>